@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color-dark: #ffffff;
    --bg-color-light: #ffffff;
    --color-p-gray: #fafccc;
    --bg-primary: #f8f9ff;
    --text-primary: #616476;
  }
}

body {
  background-color: var(--bg-primary);
}

.swiper-pagination-bullet-active {
  background-color: #e7c553 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f6f3e8 !important;
  font-size: 15px !important;
}

.swiper-button-prev {
  padding-right: 15px;
}

.swiper-navigation-size {
  font-size: 15px;
}

.swiper-button-next {
  padding-left: 15px;
}

/* .background-image-antresol {
  /* flex min-h-screen flex-col bg-[url('/main-background.jpg')] bg-cover bg-bottom bg-no-repeat */
/* background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../public/assets/images/antresolIcon/background-final.webp),
    lightgray 0px -788.889px / 100% 197.531% no-repeat;
  @apply flex min-h-screen flex-col bg-cover bg-center bg-no-repeat;
} */
.lazy-load-image {
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  /* Примерный размер для мобильных устройств, можно отрегулировать по необходимости */
  :root {
    --swiper-navigation-size: 20px !important; /* Уменьшаем размер стрелок навигации для мобильных устройств */
  }
}

.card {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px 10px 10px 10px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

.card:nth-child(odd) {
  align-self: flex-end;
  background-color: #120443;
}

.card-text {
  font-size: 28px;
  color: #fff;
}
